osgp/shared/osgp-ws-smartmetering/src/main/resources/schemas/sm-installation.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache 
  License, Version 2.0 (the "License"); you may not use this file except in 
  compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10">

  <xsd:complexType name="CoupleMbusDeviceByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="ChannelElementValues" type="tns:ChannelElementValues"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DecoupleMbusDeviceByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence minOccurs="0">
          <xsd:element name="mbusDeviceIdentification" type="common:DeviceIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Device_Identification"
        type="common:DeviceIdentification"/>

      <xsd:element minOccurs="0" name="Device_type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="Communication_method">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="Communication_provider">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="ICC_id">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="protocolName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="protocolVersion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="Supplier">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="HLS3_active"
        type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="HLS4_active"
        type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="HLS5_active"
        type="xsd:boolean"/>
      <!-- no type restriction for unencrypted keys for now -->
      <xsd:element minOccurs="0" name="Master_key"
        type="xsd:hexBinary"/>
      <xsd:element minOccurs="0"
        name="Global_encryption_unicast_key" type="xsd:hexBinary"/>
      <xsd:element minOccurs="0" name="Authentication_key"
        type="xsd:hexBinary"/>
      <xsd:element name="Delivery_date" type="xsd:dateTime"/>

      <xsd:element minOccurs="0"
        name="Mbus_identification_number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:maxInclusive value="99999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0"
        name="Mbus_manufacturer_identification">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element minOccurs="0" name="Mbus_version"
        type="xsd:unsignedByte"/>

      <xsd:element minOccurs="0"
        name="Mbus_device_type_identification" type="xsd:unsignedByte"/>

      <xsd:element minOccurs="0" name="Mbus_default_key"
        type="xsd:hexBinary"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeviceModel">
    <xsd:sequence>
      <xsd:element name="Manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ModelCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CoupleMbusDeviceByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DecoupleMbusDeviceByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ChannelElementValues">
    <xsd:sequence>
      <xsd:element name="Channel" type="common:Channel"/>
      <xsd:element name="PrimaryAddress" type="xsd:short"/>
      <xsd:element name="IdentificationNumber" type="xsd:string"/>
      <xsd:element name="ManufacturerIdentification" type="xsd:string"/>
      <xsd:element name="Version" type="xsd:unsignedByte"/>
      <xsd:element name="DeviceTypeIdentification" type="xsd:unsignedByte"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="AddDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Device" type="tns:Device"/>
        <xsd:element name="DeviceModel" type="tns:DeviceModel"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"/>
        <xsd:element minOccurs="0" name="Description"
          type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"/>
        <xsd:element minOccurs="0" name="Description"
          type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"/>
        <xsd:element minOccurs="0" name="Description"
          type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        <xsd:element name="CoupleMbusDeviceByChannelRequestData"
          type="tns:CoupleMbusDeviceByChannelRequestData"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:CoupleMbusDeviceByChannelResponseData">
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!-- DATATYPES -->

  <xsd:element name="DecoupleMbusDeviceByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        <xsd:element name="DecoupleMbusDeviceByChannelRequestData"
          type="tns:DecoupleMbusDeviceByChannelRequestData"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:DecoupleMbusDeviceByChannelResponseData">
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetSubscriptionInformationRequest">
    <xsd:complexType>
      <xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetSubscriptionInformationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="meid" type="xsd:string"/>
        <xsd:element name="esn" type="xsd:string"/>
        <xsd:element name="uimid" type="xsd:string"/>
        <xsd:element name="eqId" type="xsd:string"/>
        <xsd:element name="ipAddress" type="xsd:string"/>
        <xsd:element name="mdn" type="xsd:string"/>
        <xsd:element name="btsId" type="xsd:string"/>
        <xsd:element name="cellId" type="xsd:string"/>
        <xsd:element name="status" type="xsd:string"/>
        <xsd:element name="custCode" type="xsd:string"/>
        <xsd:element name="supplierReferenceId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="common.xsd"/>

  <xsd:simpleType name="AlphaNumericType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z0-9 ]+"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
