osgp/shared/osgp-ws-smartmetering/src/main/resources/schemas/sm-monitoring.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache License, Version 2.0 (the "License"); you may not 
  use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-monitoring/2014/10"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-monitoring/2014/10">

  <xsd:complexType name="PeriodicMeterReadsResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="PeriodType" type="tns:PeriodType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodicMeterReads"
            type="tns:PeriodicMeterReads"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- smart meter periodic -->
  <xsd:complexType name="PeriodicMeterReadsGasResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="PeriodType" type="tns:PeriodType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodicMeterReadsGas"
            type="tns:PeriodicMeterReadsGas"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActualMeterReadsData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActualMeterReadsResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="LogTime" type="xsd:dateTime"/>
          <xsd:element name="ActiveEnergyImport" type="tns:MeterValue"/>
          <xsd:element name="ActiveEnergyExport" type="tns:MeterValue"/>
          <xsd:element name="ActiveEnergyImportTariffOne" type="tns:MeterValue"/>
          <xsd:element name="ActiveEnergyImportTariffTwo" type="tns:MeterValue"/>
          <xsd:element name="ActiveEnergyExportTariffOne" type="tns:MeterValue"/>
          <xsd:element name="ActiveEnergyExportTariffTwo" type="tns:MeterValue"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActualMeterReadsGasData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActualMeterReadsGasResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="LogTime" type="xsd:dateTime"/>
          <xsd:element name="Consumption" type="tns:MeterValue"/>
          <xsd:element name="CaptureTime" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- gas meter periodic -->
  <xsd:complexType name="ReadAlarmRegisterData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadAlarmRegisterResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="AlarmTypes" type="common:AlarmType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ClearAlarmRegisterData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AlarmRegister">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="AlarmTypes" type="common:AlarmType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PeriodicReadsRequestQuery">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- smart meter actual -->
  <xsd:complexType name="PeriodicReadsRequestGasQuery">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
          <xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This is a special type so that ActualMeterReads is supported in bundle requests -->
  <xsd:complexType name="PeriodicReadsRequest">
    <xsd:annotation>
      <xsd:documentation>
        a request for periodic reads from a meter consists out of the
        identification of the device and
        input data
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
          <xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PeriodicReadsRequestData">
    <xsd:annotation>
      <xsd:documentation>input data to request periodic reads from a
        meter, not meant to use directly
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PeriodType" type="tns:PeriodType"/>
      <xsd:element name="BeginDate" type="xsd:dateTime"/>
      <xsd:element name="EndDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PeriodicMeterReadsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="PeriodType" type="tns:PeriodType"/>
          <xsd:element name="BeginDate" type="xsd:dateTime"/>
          <xsd:element name="EndDate" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PeriodicMeterReadsGasRequestData">
    <xsd:complexContent>
      <xsd:extension base="tns:PeriodicMeterReadsRequestData">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AmrProfileStatusCode">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="AmrProfileStatusCodeFlag" type="common:AmrProfileStatusCodeFlag"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- gas meter actual -->
  <xsd:complexType name="PeriodicMeterReads">
    <xsd:sequence>
      <xsd:element name="LogTime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="ActiveEnergyImport" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="ActiveEnergyExport" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="ActiveEnergyImportTariffOne" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="ActiveEnergyImportTariffTwo" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="ActiveEnergyExportTariffOne" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="ActiveEnergyExportTariffTwo" type="tns:MeterValue"/>
      <xsd:element minOccurs="0" name="AmrProfileStatusCode" type="tns:AmrProfileStatusCode"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- This is a special type so that ActualMeterReads is supported in bundle requests -->
  <xsd:complexType name="PeriodicMeterReadsGas">
    <xsd:sequence>
      <xsd:element name="LogTime" type="xsd:dateTime"/>
      <xsd:element name="Consumption" type="tns:MeterValue"/>
      <xsd:element name="CaptureTime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="AmrProfileStatusCode" type="tns:AmrProfileStatusCode"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MeterValue">
    <xsd:simpleContent>
      <xsd:extension base="tns:Value">
        <xsd:attribute name="unit" type="common:OsgpUnitType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityProfileRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="ProfileType" type="xsd:string"/>
          <xsd:element name="BeginDate" type="xsd:dateTime"/>
          <xsd:element name="EndDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="SelectedValues" type="common:CaptureObjectDefinitions"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityProfileResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element maxOccurs="2" name="PowerQualityProfileDatas"
            type="tns:PowerQualityProfileData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityProfileData">
    <xsd:sequence>
      <xsd:element name="LogicalName" type="common:ObisCodeValues"/>
      <xsd:element name="CaptureObjects" type="common:CaptureObjects"/>
      <xsd:element name="ProfileEntries" type="common:ProfileEntries"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ActualPowerQualityRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="ProfileType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This is a special type so that ReadAlarmRigister is supported in bundle requests -->
  <xsd:complexType name="ActualPowerQualityResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="ActualPowerQualityData" type="tns:ActualPowerQualityData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActualPowerQualityData">
    <xsd:sequence>
      <xsd:sequence>
        <xsd:element name="PowerQualityObjects" type="tns:PowerQualityObjects"/>
        <xsd:element name="PowerQualityValues" type="tns:PowerQualityValues"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityObjects">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="PowerQualityObject" type="tns:PowerQualityObject"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityObject">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="unit" type="common:OsgpUnitType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityValues">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="PowerQualityValue" type="tns:PowerQualityValue"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PowerQualityValue">
    <xsd:choice maxOccurs="1">
      <xsd:element name="StringValue" type="xsd:string"/>
      <xsd:element name="DateValue" type="xsd:dateTime"/>
      <xsd:element name="FloatValue" type="xsd:decimal"/>
      <xsd:element name="LongValue" type="xsd:long"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:element name="PeriodicMeterReadsRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:PeriodicReadsRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="PeriodicMeterReadsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="PeriodicMeterReadsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="PeriodicMeterReadsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PeriodType" type="tns:PeriodType"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodicMeterReads"
          type="tns:PeriodicMeterReads"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="PeriodicMeterReadsGasRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:PeriodicReadsRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="PeriodicMeterReadsGasAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!-- DATATYPES -->
  <xsd:element name="PeriodicMeterReadsGasAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!-- This is a special type so that PeriodicReadsRequestQuery is supported in bundle requests -->
  <xsd:element name="PeriodicMeterReadsGasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PeriodType" type="tns:PeriodType"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodicMeterReadsGas"
          type="tns:PeriodicMeterReadsGas"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- This is a special type so that PeriodicReadsRequestGasQuery is supported in bundle requests -->
  <xsd:element name="ActualMeterReadsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LogTime" type="xsd:dateTime"/>
        <xsd:element name="ActiveEnergyImport" type="tns:MeterValue"/>
        <xsd:element name="ActiveEnergyExport" type="tns:MeterValue"/>
        <xsd:element name="ActiveEnergyImportTariffOne" type="tns:MeterValue"/>
        <xsd:element name="ActiveEnergyImportTariffTwo" type="tns:MeterValue"/>
        <xsd:element name="ActiveEnergyExportTariffOne" type="tns:MeterValue"/>
        <xsd:element name="ActiveEnergyExportTariffTwo" type="tns:MeterValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsGasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsGasAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsGasAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualMeterReadsGasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LogTime" type="xsd:dateTime"/>
        <xsd:element name="Consumption" type="tns:MeterValue"/>
        <xsd:element name="CaptureTime" type="xsd:dateTime"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReadAlarmRegisterRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReadAlarmRegisterAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReadAlarmRegisterAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!-- PowerQualityProfile -->

  <xsd:element name="ReadAlarmRegisterResponse">
    <xsd:complexType>
      <xsd:sequence maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="AlarmTypes" type="common:AlarmType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RetrievePushNotificationAlarmRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CorrelationUid" type="common:CorrelationUid"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RetrievePushNotificationAlarmResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
        <xsd:element name="AlarmRegister" type="tns:AlarmRegister"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ClearAlarmRegisterRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ClearAlarmRegisterAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ClearAlarmRegisterAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ClearAlarmRegisterResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"/>
        <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- ActualPowerQuality -->

  <xsd:element name="GetPowerQualityProfileRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:PowerQualityProfileRequestData">
          <xsd:sequence>
            <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetPowerQualityProfileAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetPowerQualityProfileAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetPowerQualityProfileResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:PowerQualityProfileResponseData"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualPowerQualityRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ActualPowerQualityRequestData">
          <xsd:sequence>
            <xsd:element name="DeviceIdentification" type="common:DeviceIdentification"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualPowerQualityResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:ActualPowerQualityResponseData"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualPowerQualityAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ActualPowerQualityAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="common.xsd"/>

  <xsd:simpleType name="PeriodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DAILY"/>
      <xsd:enumeration value="MONTHLY"/>
      <xsd:enumeration value="INTERVAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Value">
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="9223372036854775807"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
