osgp/shared/osgp-ws-publiclighting/src/main/resources/schemas/pl-adhocmanagement.xsd

<!--

    Copyright 2015 Smart Society Services B.V.

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

-->
<xsd:schema xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/publiclighting/adhocmanagement/2014/10"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/publiclighting/adhocmanagement/2014/10">

  <xsd:complexType name="DeviceStatus">
    <xsd:annotation>
      <xsd:documentation>
        DeviceStatus represents the retrieved status of a smart device.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="LightValues"
        type="tns:LightValue">
        <xsd:annotation>
          <xsd:documentation>
            The list of 'LightValues' can contain:
            - relay status values in case of SSLD (Substation Lighting Device) smart devices;
            - light sensor values in case of LMD (Light Measurement Device) smart devices.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1"
        name="PreferredLinkType" type="tns:LinkType"/>
      <xsd:element maxOccurs="1" minOccurs="1"
        name="ActualLinkType" type="tns:LinkType"/>
      <xsd:element maxOccurs="1" minOccurs="0"
        name="LightType" type="tns:LightType"/>
      <xsd:element maxOccurs="8" minOccurs="0"
        name="EventNotifications" type="tns:EventNotificationType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element name="DeviceUid" type="xsd:string"/>
      <xsd:element name="DeviceIdentification" type="common:Identification"/>
      <xsd:element minOccurs="0" name="ContainerPostalCode"
        type="xsd:string"/>
      <xsd:element minOccurs="0" name="ContainerCity"
        type="xsd:string"/>
      <xsd:element minOccurs="0" name="ContainerStreet"
        type="xsd:string"/>
      <xsd:element minOccurs="0" name="ContainerNumber"
        type="xsd:string"/>
      <xsd:element minOccurs="0" name="GpsLatitude"
        type="xsd:float"/>
      <xsd:element minOccurs="0" name="GpsLongitude"
        type="xsd:float"/>
      <xsd:element name="DeviceType" type="xsd:string"/>
      <xsd:element name="Activated" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Ssld">
    <xsd:complexContent>
      <xsd:extension base="tns:Device">
        <xsd:sequence>
          <xsd:element name="HasSchedule" type="xsd:boolean"/>
          <xsd:element name="PublicKeyPresent" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LightMeasurementDevice">
    <xsd:complexContent>
      <xsd:extension base="tns:Device">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Color" type="xsd:string"/>
          <xsd:element minOccurs="0" name="DigitalInput" type="xsd:short"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DevicePage">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Devices"
        type="tns:Device"/>
      <xsd:element name="Page" type="common:Page"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LightValue">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Index">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="6"/>
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="On" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="DimValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="100"/>
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="FindAllDevicesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PageSize"
          type="xsd:int"/>
        <xsd:element name="Page" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="FindAllDevicesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DevicePage" type="tns:DevicePage"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="DeviceIdentification"
          type="common:Identification"/>
        <xsd:element maxOccurs="6" name="LightValue" type="tns:LightValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="Result"
          type="common:OsgpResultType"/>
        <xsd:element name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="DeviceIdentification"
          type="common:Identification"/>
        <xsd:element minOccurs="0" name="BatchLogId" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="Result"
          type="common:OsgpResultType"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="DeviceStatus" type="tns:DeviceStatus"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ResumeScheduleRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="DeviceIdentification"
          type="common:Identification"/>
        <xsd:element minOccurs="0" name="Index">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:maxInclusive value="6"/>
              <xsd:minInclusive value="0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IsImmediate" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ResumeScheduleAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ResumeScheduleAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ResumeScheduleResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="Result"
          type="common:OsgpResultType"/>
        <xsd:element name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetTransitionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="DeviceIdentification"
          type="common:Identification"/>
        <xsd:element minOccurs="1" name="TransitionType"
          type="tns:TransitionType"/>
        <xsd:element minOccurs="0" name="Time" type="xsd:time"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetTransitionAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetTransitionAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetTransitionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="Result"
          type="common:OsgpResultType"/>
        <xsd:element name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightMeasurementDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="DeviceIdentification"
          type="common:Identification"/>
        <xsd:element minOccurs="1" name="LightMeasurementDeviceIdentification"
          type="common:Identification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightMeasurementDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="Result"
          type="common:OsgpResultType"/>
        <xsd:element name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="common.xsd"/>

  <xsd:simpleType name="LightType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LT_NOT_SET"/>
      <xsd:enumeration value="RELAY"/>
      <xsd:enumeration value="ONE_TO_TEN_VOLT"/>
      <xsd:enumeration value="ONE_TO_TEN_VOLT_REVERSE"/>
      <xsd:enumeration value="ONE_TO_TWENTY_FOUR_VOLT"/>
      <xsd:enumeration value="DALI"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LinkType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LINK_NOT_SET"/>
      <xsd:enumeration value="GPRS"/>
      <xsd:enumeration value="CDMA"/>
      <xsd:enumeration value="ETHERNET"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EventNotificationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DIAG_EVENTS"/>
      <xsd:enumeration value="HARDWARE_FAILURE"/>
      <xsd:enumeration value="LIGHT_EVENTS"/>
      <xsd:enumeration value="TARIFF_EVENTS"/>
      <xsd:enumeration value="MONITOR_EVENTS"/>
      <xsd:enumeration value="FIRMWARE_EVENTS"/>
      <xsd:enumeration value="COMM_EVENTS"/>
      <xsd:enumeration value="SECURITY_EVENTS"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TransitionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NIGHT_DAY"/>
      <xsd:enumeration value="DAY_NIGHT"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
